<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781138442643-nr8rdrvkbtjh1s3puvniv89k0tq6qusu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781138442643-nr8rdrvkbtjh1s3puvniv89k0tq6qusu</string>
	<key>API_KEY</key>
	<string>AIzaSyBNktJhDsDS2ddhUTS5n13XSX5swnx5p4g</string>
	<key>GCM_SENDER_ID</key>
	<string>781138442643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.htswear.LifeGauge</string>
	<key>PROJECT_ID</key>
	<string>lifegauge-7bbfe</string>
	<key>STORAGE_BUCKET</key>
	<string>lifegauge-7bbfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781138442643:ios:fda8b2e759159107</string>
	<key>DATABASE_URL</key>
	<string>https://lifegauge-7bbfe.firebaseio.com</string>
</dict>
</plist>